
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/events">ABS-STORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse padt" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/events" routerLinkActive="active">Mycart <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="//special" routerLinkActive="active">Offer</a>
      </li>
      </ul>

      <div class="dropdown padt">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          Account
        </button>
        <div class="dropdown-menu">
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="nav-link" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">LogOut</a>
    </div></div>
    </div>
      
</nav>
<div class="con">
  <router-outlet></router-outlet>
</div>
































